In [3]:
import pandas, numpy
arr = numpy.array([10, 20, 30, 40, 50])
series = pandas.Series(arr)
print (series)

#The output of the above code is a series of numbers from 10 to 50

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [4]:
import pandas
data = {'a': 10, 'b': 20, 'c': 30}
series = pandas.Series(data)
print (series)

#The output of the above code is a series of numbers from 10 to 30 and the letters a, b, and c as the indices

a    10
b    20
c    30
dtype: int64

In [5]:
import pandas
s = pandas.Series([10, 20, 30, 40, 50])
print (s[1:4])

#The output of the above code is a series of numbers from 20 to 40. It's a slice of the original series.

1    20
2    30
3    40
dtype: int64

In [6]:
import pandas
listx = [10, 20, 30, 40]
table = pandas.DataFrame(listx)
print (table)

#The output of the above code is a table with the numbers 10, 20, 30, and 40 in the first column.

    0
0  10
1  20
2  30
3  40

In [7]:
import pandas
data = [{'a': 1, 'b': 2}, {'a': 2, 'b':4, 'c':8}]
table = pandas.DataFrame(data, index = ['first', 'second'])
print (table)

#The output of the above code is a table with the numbers 1 and 2 in the first column and 
#the numbers 2 and 4 in the second column. The first row is labeled first and the second row is labeled second.
#There is also a third column with the number 8 and NaN for the first row.

        a  b    c
first   1  2  NaN
second  2  4  8.0

In [8]:
import pandas
data = {'one': pandas.Series([1, 2, 3], index = ['a', 'b', 'c']),
'two': pandas.Series([1, 2, 3, 4], index = ['a', 'b', 'c', 'd'])}
table = pandas.DataFrame(data)
print(table)

#The output of the above code is a table with the numbers 1, 2, and 3 in the first column and
#the numbers 1, 2, 3, and 4 in the second column. The first column is labeled one and the second column is labeled two.

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [9]:
import pandas
data = {'one': pandas.Series([1, 2, 3], index = ['a', 'b', 'c']),
'two': pandas.Series([1, 2, 3, 4], index = ['a', 'b', 'c', 'd'])}
table = pandas.DataFrame(data)
table['three'] = pandas.Series([10, 20, 30], index = ['a', 'b', 'c'])
print(table)

#The output of the above code is a table with the numbers 1, 2, and 3 in the first column and
#the numbers 1, 2, 3, and 4 in the second column. The first column is labeled one and the second column is labeled two.
#The third column is labeled three and has the numbers 10, 20, and 30.

   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN

In [10]:
del table['one']
print (table)

#The code above will delete the column labeled one from the table.

   two  three
a    1   10.0
b    2   20.0
c    3   30.0
d    4    NaN

In [11]:
col = table.pop('two')
print (col)
print (table)

#The code above will delete the column labeled two from the table and print the column labeled two.
#Then it will print the table without the column labeled two.

a    1
b    2
c    3
d    4
Name: two, dtype: int64
   three
a   10.0
b   20.0
c   30.0
d    NaN

In [12]:
print (table.loc['c'])

#The code above will print the row labeled c from the table.

three    30.0
Name: c, dtype: float64

In [13]:
print (table.iloc[2])

#The code above will print the third row from the table.

three    30.0
Name: c, dtype: float64

In [14]:
import pandas as pd
a_row = pd.Series([1, 2])
df = pd.DataFrame([[3, 4], [5, 6]], index = ["row1", "row2"])
row_df = pd.DataFrame([a_row], index = ["row3"])
df = pd.concat([row_df, df])
print(df)

#The code above will print a table with the numbers 1 and 2 in the first row and
#the numbers 3, 4, 5, and 6 in the second and third rows. Then it will rename the first row to row3.
#Lastly it concatenates the first row to the table (DataFrame).

      0  1
row3  1  2
row1  3  4
row2  5  6

In [15]:
import pandas as pd
data = {'name': ['Somu', 'Kiku', 'Amol', 'Lini'],
'physics': [68, 74, 77, 78],
'chemistry': [84, 56, 73, 69],
'algebra': [78, 88, 82, 87]}
#create dataframe
df_marks = pd.DataFrame(data)
print('Original DataFrame\n------------------')
print(df_marks)
new_row = {'name':'Geo', 'physics':87, 'chemistry':92, 'algebra':97}
#append row to the dataframe
df_marks = df_marks.append(new_row, ignore_index=True)
print('\n\nNew row added to DataFrame\n--------------------------')
print(df_marks)

#The code above will print a table with the names of the students and their marks in physics, chemistry, and algebra.
#Then it will add a new row to the table with the name Geo and the marks 87, 92, and 97.

Original DataFrame
------------------
   name  physics  chemistry  algebra
0  Somu       68         84       78
1  Kiku       74         56       88
2  Amol       77         73       82
3  Lini       78         69       87


New row added to DataFrame
--------------------------
   name  physics  chemistry  algebra
0  Somu       68         84       78
1  Kiku       74         56       88
2  Amol       77         73       82
3  Lini       78         69       87
4   Geo       87         92       97

C:\Users\tamim\AppData\Local\Temp\ipykernel_24072\842192434.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_marks = df_marks.append(new_row, ignore_index=True)

In [31]:
#Load the sales manager data into a DataFrame

df = pd.read_csv('SalesManager.csv')

#Print the ‘Units’ Column, then print the sum and avg of the number of units sold
print(df['Units'])

print(df['Units'].sum())
print(df['Units'].mean())

#Print the names of the sales managers (without redundancy)
print(df['Sales Manager'].unique())

#Print the first and the third records in the data set
print(df.iloc[[0,2]])

#Add a new record to the data set
new_row = {"OrderDate": "03-Jun-2002", "Region": "East",
           "Sales Manager" : "Tamim",
           "Item": "Gaming PC", "Units": 420, "Price": 7.99}

df = pd.concat([df, pd.DataFrame([new_row])], ignore_index=True)

#Delete the record that has the index 26
df = df.drop(26)

#Save the data set to a CSV file.
df.to_csv('SalesManagerTamim.csv', index=False)

0     62
1     29
2     55
3     81
4     42
5     35
6      3
7      2
8      7
9     16
10    76
11    28
12    57
13    64
14    14
15    15
16    11
17    96
18    94
19    67
20    28
21    74
22    95
23    46
24    50
25    87
26    36
27     4
28    27
29     7
30    56
31    50
32    60
33    66
34    75
35    96
36    90
37    53
38    32
39    80
40    60
41     5
42    90
Name: Units, dtype: int64
2121
49.325581395348834
['Mike' 'Sophie ' 'Tom ' 'Anne ' 'Jack ' 'Mike ' 'Header ' 'Bob ' 'Maria '
 'Header' 'Rob' 'Diana ' 'Alex' 'Jack']
   OrderDate   Region Sales Manager      Item  Units  Price
0  04-Jul-18     East          Mike  Notebook     62   4.99
2  21-Jul-18  Central          Tom   Notebook     55  12.49